@{
    ViewData["Title"] = "Home Page";
}

@model Bookish.Models.CopyAdd;

<div class="text-center">
    <h1 class="display-4">Add Copy of Book</h1>

   <div>
        <form asp-area="" asp-controller="Copy" asp-action="CopyInsert" method="post">
            <label for="title">BookId:</label><br>
            <input type="text" id="bookid" name="BookId"><br>
            <label for="author">Number of Copies:</label><br>
            <input type="text" id="numberofcopies" name="NumberofCopies"><br>
            <input type="submit" value="Submit" >
        </form>
    </div>
</div>