@{
    ViewData["Title"] = "Home Page";
}

@* @model Bookish.Models.FindCopy; *@

<div class="text-center">
<h1 class="display-4">Find copies of Books</h1>

    <div>
        <form asp-area="" asp-controller="Copy" asp-action="CopiesList" method="post">
            <label for="bookid">Book ID:</label><br>
            <input type="text" id="bookid" name="BookId"><br>
            <input type="submit" value="Submit" >
        </form>

        <form asp-area="" asp-controller="Copy" asp-action="CopiesList" method="post">
            <label for="title">Title:</label><br>
            <input type="text" id="title" name="Title"><br>
            <input type="submit" value="Submit" >
        </form>
    </div>
</div>
